@use "@material/top-app-bar/mdc-top-app-bar";

@use "@material/drawer";

@use "@material/floating-label/mdc-floating-label";
@use "@material/line-ripple/mdc-line-ripple";
@use "@material/notched-outline/mdc-notched-outline";
@use "@material/textfield";

@use "@material/button/styles";

@use "@material/snackbar/mdc-snackbar";

@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;

@include textfield.core-styles;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --mdc-theme-primary: hsl(0, 0%, 15%);
    --mdc-theme-surface: hsl(0, 0%, 15%);
    --mdc-ripple-color: hsla(0, 0%, 0%, 20%);
}